h1 {
    border-style: dotted;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    margin: 22px 33% 22px 37%;
}

p {
    text-align: center;
}

body {
    background-color: red;
}